body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #fdf6e3;
    /*overflow: hidden;*/
}

.container {
    padding: 20px 50px 5px 30px;
    width: 95%;
    height: 95%;
    position: absolute;
    min-width: 1190px;
    max-width: 1600px;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fdf6e3 url('grid.svg') no-repeat center center;
}

.titleWrapper {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.titleLeft {
    float: left;
}

.titleRight {
    padding: 0 5px 5px 30px;
    float: left;
}

.title {
    margin: 0;
}

.title.main {
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid #586e75;
    /* border-bottom: 1px solid #D9D9D9; */
    display: inline;
    /* solarized */
    color: #dc322f;
    /* color: #586e75; */
}

.title.sub {
    padding-top: 11px;
    font-weight: 400;
    font-size: 10px;
    /* solarized */
    color: #586e75;
}

.subTitleFloat {
    display: block;
    float: right;
    font-size: 10px;
    font-weight: 400;
    /* solarized */
    color: #586e75;
    /* color: black; */
    font-style: italic;
}

.buttonContainer {
    width: 100%;
    clear: both;
    float: left;
}

.sliderTtipContainer {
    float: left;
}

.buttonTextContainer {
    float: left;
    margin-left: 20px;
    width: 95%;
}

.buttonText {
    float: left;
    display: inline-block;
    position: relative;
    /* vertical-align: center; */
    font-weight: 300;
    margin-right: 30px;
    /* margin-top: 45px; */
    font-size: 13px;
    margin-top: 0;
    font-style: italic;
    vertical-align: middle;
    /* solarized */
    color: #586e75;
}

.buttonButtonContainer {
    float: left;
    /* margin-left: 20px; */
}

.button {
    width: 90px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    float: left;
    border-radius: 3px;
    margin: 10px 6px 10px 0;
    text-align: center;
    position: relative;
    opacity: 95%;
    border-radius: 3px;
    padding: 5px;
    /* solarized */
    color: #586e75;
    /* color: white; */
    background-color: #eee8d5
    /* background-color: #808080; */
}

.button:hover {
    /* background: #e0e0e0; */
    background: #fdf6e3;
}

.button.current {
    /* background: #000; */
    background: #586e75;
    color: #eee8d5;

    /* color: #fff; */
}

.sliderTtip {
    display: inline-block;
    float: left;
    width: 75px;
    margin: 10px 0 10px 0;
    text-align: center;
    position: relative;
    opacity: 95%;
    border-radius: 3px;
    padding: 5px;
    /* solarized */
    color: #586e75;
    /* color: white; */
    background-color: #eee8d5
    /* background-color: #808080; */
}

.sliderContainer {
    width: 100%;
    clear: both;
    float: left;
}

.sliderText {
    float: left;
    font-weight: 300;
    margin-right: 30px;
    font-size: 13px;
    margin-top: 0;
    font-style: italic;
    /* solarized */
    color: #586e75;
}

.sliderWrapper {
    float: left;
}

.headerWrapper {
    width: 100%;
    clear: both;
    float: left;
}

.headerOneWrapper {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    /* solarized */
    border: 1px solid #586e75;
    /* border: 1px solid black; */
    /* solarized */
    /* color: #b58900; */
    color: #586e75;
}

.headerTwoWrapper {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    /* solarized */
    border: 1px solid #586e75;
    /* border: 1px solid black; */
    margin-left: 20px;
    /* solarized */
    /* color: #b58900; */
    color: #586e75;
}

.chartWrapper {
    width: 100%;
    clear: both;
}

.chartOne {
    width: 50%;
    margin-top: 10px;
    float: left;
}

.chartTwo {
    width: 50%;
    /*height: 50%;*/
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}

.searchBar {
    float: left;
    display: inline;
    /*width: 100%;*/
    width: 400px;

    border-radius: 2px;
    height: 30px;
    outline: none;
    /* solarized */
    background-color: #eee8d5;
    border: 1px solid #D9D9D9;
    /* border: 1px solid #93a1a1; */
}

input[type=search] {
    font-size: 14px;
    height: 30px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 25px;
    /* solarized */
    color: #586e75;
    border: 1px solid #93a1a1;
    /* border: 1px solid #D9D9D9; */
}

.searchButton {
    float: left;
    margin-left: 10px;
    border-radius: 3px;
    padding: 8px 8px 6px 8px;
    letter-spacing: 0.1em;
    align-self: center;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    /* solarized */
    background-color: #eee8d5;
    color: #586e75;
    /* background-color: #808080; */
    /* color: #fff; */
}

.ttip {
    width: 300px;
    position: relative;
    /* solarized */
    background-color: #fdf6e3;
    /* background-color: rgba(255, 255, 255, 0.98); */
    display: none;
    border: 3px solid #586e75;
    /* border: 3px solid; */
    padding: 5px;
    color: #586e75;
}

.title br {
    margin-top: 0;
}

br {
    display: block;
    content: "";
    margin-top: 7.5px;
}

p.ttipPrimary {
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    border-bottom: 2px solid currentcolor;
    /* color: #dc322f; */
}

p.ttipSecondary {
    font-size: 12px;
    padding: 0;
    margin: 10px 0 0 0;
    font-weight: 300;
    text-transform: uppercase;
    color: #848482;
}

p.ttipTertiary {
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.xAxis line,
path {
    stroke: #586e75;
}

.xAxis text {
    fill: #586e75;
}